.footer {
  h5 {
    color: #f0b419;
  }
  a {
    color: white;
  }
  p {
    color: white;
  }
}

.contactno {
  color: #f0b419 !important;
  font-weight: bold;
}

/* Adding margin to space out columns */
footer .col {
  margin-bottom: 1.5rem; /* Adds space between the columns */
}

@media (min-width: 768px) {
  footer .col {
    margin-bottom: 0; /* Removes bottom margin for larger screens */
  }
}

.footer-payment {
  display: flex;
  flex-direction: column; /* Ensures the image and text are stacked vertically */
  align-items: center; /* Centers items horizontally */
  justify-content: center; /* Centers items vertically (if needed) */
  margin-top: 20px; /* Adds space above the payment image */
  margin-bottom: 20px; /* Adds space below the copyright text */
  text-align: center; /* Ensures text is centered */
}

.footer-payment img {
  max-width: 100%; /* Ensures the image scales properly */
  height: auto; /* Maintains aspect ratio */
}

.copyright {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #f2e2b9 !important;
  margin-top: 10px; /* Adds space between the image and the text */
}

/* Newsletter Heading */
.newsletter-heading {
  font-size: 18px;
  font-weight: bold;
  color: #fff; /* Adjust color as needed */
}

/* Newsletter Paragraph */
.newsletter-paragraph {
  margin-bottom: 1rem; /* Space below the paragraph */
  font-size: 14px; /* Adjust as needed */
  color: #f2e2b9; /* Adjust color as needed */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2; /* Limits to 2 lines */
  line-clamp: 2; /* Limits to 2 lines */
  width: 300px; /* Set desired width */
}

/* Newsletter Form */
.newsletter-form {
  display: flex;
  align-items: center;
}

.footer-control {
  width: 300px;
  padding-right: 120px;
  color: black;
  height: 56px;
  font-size: 16px;
  border: 1px solid rgba(242, 226, 185, 1);
  background-color: rgba(242, 226, 185, 1);
  border-radius: 10px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .newsletter-paragraph {
    width: 100%; /* Full width on smaller screens */
    font-size: 12px; /* Adjust font size on smaller screens */
  }

  .footer-control {
    width: 100%;
    max-width: 300px; /* Adjust max-width on smaller screens */
  }
}
