.price-section {
  background-color: #0d0d0d;
  padding: 50px 0;

  .heading-1 {
    font-weight: 600;
    font-size: 48px; /* Default size */
    line-height: 1.2; /* Keeps text closer together */
    text-align: center;
    color: #f2e2b9 !important;
    white-space: nowrap; /* Keeps the text on one line */
  }

  /* For smaller screens (like phones) */
  @media (max-width: 768px) {
    .heading-1 {
      font-size: 32px; /* Reduce the size for mobile devices */
    }
  }

  .heading-2 {
    font-weight: 700;
    font-size: 54px; /* Default size */
    line-height: 1.2; /* Keeps text closer together */
    text-align: center;
    background: linear-gradient(270deg, #c89102 -202.05%, #624701 351.09%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap; /* Keeps the text on one line */
  }

  /* For smaller screens (like phones) */
  @media (max-width: 768px) {
    .heading-2 {
      font-size: 36px; /* Reduce the size for mobile devices */
    }
  }

  /* For larger screens (like big desktops) */
}

.price-cards {
  margin-top: 60px;

  .col {
    display: flex;
    justify-content: center; /* Center content */
    margin-bottom: 30px;
  }

  .card {
    background-color: #0a0a0a;
    border: none;
    padding: 30px; /* Adjust padding as needed */
    height: 100%; /* Ensure cards stretch to the same height */
    width: 100%;
    max-height: 370px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space out content evenly */
    // position: relative; /* Allow positioning of button */
    margin: autos;
  }

  h6 {
    font-size: 24px;
    color: #f0b419;
    margin-bottom: 1rem;

    /* Media queries for responsiveness */
    @media (max-width: 1200px) {
      font-size: 22px;
    }

    @media (max-width: 992px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }

  .price-para {
    p {
      font-weight: 400;
      font-size: 16px;
      color: #f2e2b9;
      margin-bottom: 1.5rem; /* Gap below the paragraph */
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure it takes full height of card */
    justify-content: space-between; /* Space content evenly */
  }

  .price-button {
    background: linear-gradient(90deg, #c89102 0%, #624701 100%);
    border: none;
    color: white;
    width: auto; /* Ensure button takes full width */
    margin-top: auto; /* Pushes button to the bottom of card */
    align-self: flex-start; /* Align button to the left */
  }
}
